<a href="https://colab.research.google.com/github/ghazala25/clone-test/blob/main/book_of_data_types.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
ages=range(4)
print(range(4))
print(type)

range(0, 4)
<class 'type'>

In [2]:
title=range(0,65,9)
print(title)
print(type(title))

range(0, 65, 9)
<class 'range'>

In [4]:
domain=(25,45,68,79,89,96,94,92)
print(domain)
print(type(domain))

(25, 45, 68, 79, 89, 96, 94, 92)
<class 'tuple'>